.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
.playButtons {
    padding: 40px;
}
.buttons {
    display: flex;
}
.text {
    background-color: pink;
    padding: 10px;
    width: 180px;
    cursor: pointer;
    border-radius: 16px;
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
}
.playText {
    padding: 16px;
    border-radius: 16px;
    font-size: 60px;
}
@media screen and (max-width: 1024px) {
  .buttons {
    flex-direction: column;
  }
  .playButtons {
    padding: 25px;
}
}