.gamewrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 60px; 
}
.images {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.containers {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 70px;
}
.modalbutton {
    height: auto;
    font-size:20px;
    background-color: #7f22a8;
    border: none;
    border-radius: 32px;
    padding:15px;
    cursor: pointer;
}
.modalbuttoncontainer {
    display: flex;
    width: 2vw;
    align-items: flex-start;    
    justify-content: center;
    padding-top: 3vw;
}
.onecontainer {
    display: flex;
    width: 49vw;
    height: 49vw;
    justify-content: center;
    max-height: 65vh;
    flex-direction: column;
    align-items: center;
}
.oneImage {
    position: relative;
    width: 20.3%;
}
.text {
    font-size: xx-large;
}
.unselected {
    visibility: hidden;
}
.selectable {
    cursor: pointer;
}
.sitBar {
    height: 5vh;
    color: orange;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
    .containers {
        flex-direction: column;
        align-items: center;
    }
    .onecontainer {
        width: 35vh;
        height: 35vh;
        max-width: 100vw;
    }
    .modalbuttoncontainer {
        position: absolute;
        height: auto;
        width:35vh;
        max-width: 100vw;
        padding-top: 0;
        padding-left: 1vh;
        margin-bottom: 21vh;
    }
    .oneImage {
        position: relative;
        width: 33.3%;
    }
}