.gamewrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 60px; 
}
.images {
    height: 30vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top:4vh;
}
.containers {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 70px;
}
.modalbutton {
    height: auto;
    font-size:20px;
    background-color: #7f22a8;
    border: none;
    border-radius: 32px;
    padding:15px;
    cursor: pointer;
}
.modalbuttoncontainer {
    width: 3%;
    align-items: center;    
    justify-content: center;
}
.onecontainer {
    display: flex;
    margin: 64px ;
    width: 50%;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.oneImage {
    margin-right: 10px;
    margin-left: 10px;}
.text {
    font-size: xx-large;
}
.unselected {
    display: none;
}
.selectable {
    cursor: pointer;
}
.sitBar {
    height: 20px;
    color: orange;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}